* { /* Setup padrão para inciar os projetos. */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* LEMBRETE: Dar uma olhada no material relacionado ao box-sizing: border-box no w3Schools. */
}

.container {
  background-color: #808080; /* Sempre dar preferência para as hashs ao invés do nome das cores. Isso deixa a página mais performática. */
  min-height: 100vh; /* vh é uma medida responsiva e que quer dizer view height. Ou seja, 100vh é o mesmo que 100% da altura de visualizacao do usuário. */
  display: flex; /* Ajusta o modo como os itens serão exibidos na tela para o usuário. */
  align-items: center; /* centraliza o item horizontalmente. */
  justify-content: center; /* centraliza o item verticalmente. */
}

.item { /* Todas as medidas aqui foram convertidas de px para em (uma medida responsiva). */
  width: 12.5em;
  height: 12.5em;
  background-color: #fff;
  border: 0.125em solid #000;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  align-self: end; /* Essa propriedade serve para fazer o alinhamento único de um dos itens. Agora, o item 2 foi para o final da página. Esse alinhamento é igual ao “align-items”. Não temos esse alinhamento de 1 item para horizontal, apenas para o vertical. */
  order: 2; /* A propridedade order é utilizada para ordenar a forma como os itens serão dispostos na tela. No caso desse exemplo, o item3 aparecerá primeiro, seguido do item1 e, por fim, o item2. */
}

.item2 {
  order: 3;
}

.item3 {
  order: 1;
}