
/* Layout padrão da página. */
.img-content {
  width: 765px;
  height: 400px;
}

.text-content {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Responsividade utilizando o media query */

@media (max-width: 795px) /* seta a width máxima que a tela pode ter antes de haver alguma modificacão. */ {
  /* A paritr do momento em que a tela tiver 795px ou menos, os atributos a seguir passarão a valer. */
  .img-content {
    width: 500px;
  }
  .text-content {
    font-size: 16px;
  }
}
@media (max-width: 510px) {
  .img-content {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 410px) {
  .text-content {
    text-align: center;
  }
}