body {
  text-align: justify;
  padding-left: 200px;
  padding-top: 20px;
  padding-right: 200px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.post-container {
  background-color: #fffafa;
  padding: 20px 40px 20px 40px;
}

.post-content {
  font-family: 'Open Sans', sans-serif;
}

.date {
  color: #008080;
  font-family: 'Roboto', sans-serif;
}

.post {
  margin-bottom: 40px;
}