body {
  margin: 0;
  padding: 0; 
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.post-container {
  background-color: #fffafa;
  width: 70%;
  height: 100%;
  margin: 0 auto 0 auto;
}

.post-container .date {
  color: #008080;
  font-family: 'Roboto', sans-serif;
}

.post-container .post {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 50px;
}

.post-container div.post-content {
  width: 90%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}